@import url('https://fonts.googleapis.com/css?family=Roboto');

.body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    padding-top: 90px;
  }
}
