.tech-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  padding: 20px 75px;

  .tech {
    align-items: center;
    position: relative;
    border-radius: 6px;
    display: flex;
    background-color: $green;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    width: 200px;   

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      border: 1px solid $green;
      height: 100%;
      width: 100%;
      border-radius: 6px;
      z-index: -1;
      transition: 0.5s top ease, 0.5s left ease;
    }

    &:hover {

      &::before {
        top: 10px;
        left: 10px;
      }      
    }
  
    .logo {
      height: 100px;
      width: 100px;
      margin-bottom: 10px;
    }
  
    .release {
      margin: 10px 0;
      font-weight: bold;
    }
  
    .description {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
