.tech-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  padding: 0 75px;

  .tech {
    align-items: center;
    border-radius: 6px;
    box-shadow: -8px -8px 0 0 white, -8px -8px 0 1px $green;
    display: flex;
    justify-content: space-between;
    background-color: $green;
    flex-direction: column;
    height: 300px;
    margin: 15px;
    padding: 10px;
    top: 8em;
    width: 200px;
  
    .logo {
      height: 100px;
      width: 100px;
    }
  
    .release {
      font-weight: bold;
    }
  
    .description {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
