.tech {
  align-items: center;
  border-radius: 6px;
  box-shadow: -8px -8px 0 0 white, -8px -8px 0 1px $green;
  display: flex;
  justify-content: space-between;
  background-color: $green;
  flex-direction: column;
  flex-wrap: wrap;	
  height: 300px;
  padding: 20px;
  position: relative;
  top: 8em;
  width: 200px;

  .logo {
    height: 100px;
    width: 100px;
  }

  .release {
    font-weight: bold;
  }

  .description {
    text-align: center;
    margin-bottom: 30px;
  }
}
