.container.column
  .row.m-left-3
    select.filter.m-right-3 asd
      option(value="") Seleccionar filtro
    input.filter(placeholder="Buscar...")
  .row.wrap
    .book.column(ng-repeat="book in vm.books")
      .image-container.m-bottom-1
      h3.title {{book.title}}
      h4.subtitle {{book.author}}
