.container {
  max-width: 1200px;
}

.filter {
  min-width: 240px;
  padding: 10px;
  background-color:#f4f4f4;
  font-family:Roboto-Italic;
  font-size:14px;
  color:#9b9b9b;
  letter-spacing:0px;
  line-height:19px;
}

.book {
  margin: 35px;

  .image-container {
    height: 180px;
    width: 130px;
    object-fit: cover;
    background-color: #9b9b9b;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
  }

  .subtitle {
    font-size: 12px;
    line-height: 19px;
  }
}
