<div class="sign-form">
  <img class="wolox-logo" src="/assets/wolox_books_logo.png" alt="wolox-logo">
  <form class="form" [formGroup]="rForm" (ngSubmit)="signUp()">
    <label class="text">
      First name
    </label>
    <input class="input" type="text" formControlName="firstName">
    <label class="text">
      Last name
    </label>
    <input class="input" type="text" formControlName="lastName">
    <label class="text">
      Email
    </label>
    <input class="input" type="text" formControlName="email">
    <label class="text">
      Password
    </label>
    <input class="input" type="password" formControlName="password">
    <button type="submit" class="button primary-button">Sign up</button>
  </form>
  <button type="button" class="button secondary-button" (click)="goToLogin()">Login</button>
</div>
