<div class="content">
  <div class="header">
    <img class="wolox-logo" src="/assets/wolox_logo.svg" alt="wolox-logo">
    <h4 class="title">
      BOOKS
    </h4>
  </div>
  <form class="form" [formGroup]="rForm">
    <div class="form-input">
      <span class="text">
        First name
      </span>
      <input class="input" type="text" formControlName="firstName">
    </div>
    <div class="form-input">
      <span class="text">
        Last name
      </span>
      <input class="input" type="text" formControlName="lastName">
    </div>
    <div class="form-input">
      <span class="text">
        Email
      </span>
      <input class="input" type="text" formControlName="email">
    </div>
    <div class="form-input">
      <span class="text">
        Password
      </span>
      <input class="input" type="password" formControlName="password">
    </div>
    <button class="button primary-button" (click)="signUp()">Sign up</button>
  </form>
  <button class="button secondary-button">Login</button>
</div>