.button {
  border-radius: 5px;
  padding: 10px;

  &:hover {
    opacity: 0.8;
  }
}

.primary-button {
  margin-top: 10px;
  background-color: $green;        
  color: $white;
} 

.secondary-button {
  background-color: $lightgrey;     
  border: 2px solid $green;
  color: $green;  
}
