@import './colors.scss';

.btn {
  border-radius: 5px;
  padding: 10px 20px;

  &.primary {
    background-color: $celery;
    color: $white;
  }

  &.secondary {
    background-color: $wild-sand;
    color: $celery;
    border: 2px solid $celery;
  }
}
