.row {
  display: flex;
  flex-direction: row;

  &.middle {
    align-items: center;
  }

  &.center {
    justify-content: center;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.column {
  display: flex;
  flex-direction: column;

  &.middle {
    justify-content: center;
  }

  &.center {
    align-items: center;
  }
}

.full-width {
  width: 100%;
}
