form.column(ng-submit="vm.createUser()")
  label.m-bottom-1 Email
  input.input.m-bottom-1(ng-model="vm.email")
  label.m-bottom-1 Contraseña
  input.input.m-bottom-1(ng-model="vm.password")
  label.m-bottom-1 Nombre
  input.input.m-bottom-1(ng-model="vm.name")
  label.m-bottom-1 Apellido
  input.input.m-bottom-1(ng-model="vm.lastName")
  button.button.main(type="submit") Crear Usuario
