$navbar-height: 50px;

* {
  font-family: 'roboto';
}

.search-button {
  width: 40px;
  height: 40px;
  background-color: $atlantis;
}

.button {
  font-weight: bold;
  padding: 7px 60px;
  color: $white;
  font-size: 20px;
  width: fit-content;

  &.main {
    background-color: $cerulean;
  }

  &.secondary {
    background-color: $atlantis;
  }
}
