form.column(ng-submit="vm.login()")
  label.m-bottom-1 Email
  input.input.m-bottom-1(ng-model="vm.email")
  label.m-bottom-1 Contraseña
  input.input.m-bottom-1(ng-model="vm.password")
  button.button.main(type="submit") login
