.navbar {
  height: 60px;
  box-shadow: 0 10px 6px -6px $grey; 
  position: fixed;
  width: 100%;
  background-color: $white;
  z-index: 1;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 200px auto 175px;
  align-items: center;
  grid-template-areas: "logo . text";

  .wolox-logo {
    width: 200px;
    grid-area: logo;
  }

  .navbar-text {
    font-size: 24px;
    line-height: 60px;
    grid-area: text;
  }
}
