.tech-container {
  margin: 50px 0;
  padding: 20px 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    ". main sec1 sec2"
    ". main sec3 sec4";

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main {
    grid-area: main;
    border-right: 1px solid $green;
    justify-content: center;

    @media screen and (max-width: 1024px) {
      border-right: none;
    }
  }

  .sec1 {
    grid-area: sec1;
  }

  .sec2 {
    grid-area: sec2;
  }

  .sec3 {
    grid-area: sec3;
  }

  .sec4 {
    grid-area: sec4;
  }

  .tech {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    width: 200px;
    
    @media screen and (max-width: 1024px) {
      border-right: none;
      border-bottom: 1px solid $green;

      &:last-of-type{
        border-bottom: none;
      }
    }
  
    .logo {
      height: 100px;
      width: 100px;
      margin-bottom: 10px;
    }
  
    .release {
      margin: 10px 0;
      font-weight: bold;
    }
  
    .description {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
